<input id="category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
<label for="category-0" class="ml-3 text-sm text-gray-600">Availble Now</label>
                    